html
    head
        title= title
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        style.
            .heading { margin: 0; text-shadow: 2px 2px #2f2e2e;}
            .text-white { color:white; }
            .navbar { margin-bottom:0; }
            .navbar-default
            {
                background-color:#5b9bd5;
                border:none;
                border-radius:0;
            }
            .navbar-default .navbar-brand, .navbar-default .navbar-brand:hover
            {
                color:white;
            }

            .navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav i
            {
                color:white;
            }
            .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover
            {
                color:white;
                background-color:#75b7f3;
            }
            .hover-orange:hover .hoverable
            {
                color:#ed7d31;
                cursor:pointer;
            }
            .point { cursor:pointer; }
            .main-menu li { position:relative; }
            .main-menu li:hover .sub-menu { display:block; }
            .main-menu .sub-menu { display:none; position:absolute; top: 50px; left:-200px; background-color:white; z-index: 2; width:600px; padding:10px;}
            .main-menu .sub-menu a { font-size: 0.8em; line-height: 3em; }
            .btn-flat { color:steelblue; text-transform: uppercase; background:transparent; border:0; }
            .sub-menu form .col-xs-12 { margin: 12px 0; }
            .my-memorial {
                position:relative;
                height: 300px;
                background: url(https://mymemorial.mhsystem.org/PublishingImages/Meditech_MemorialOne_700x290_banner.jpg) 0 0 no-repeat;
                background-size: cover;
                color:white;
            }
            .my-memorial p 
            {
                font-size: 1.2em;
                text-shadow: 2px 2px #000;
                padding: 12px;
            }
            .main-menu .sub-menu.locations {
                width: 300px;
                left: -100px;
            }
            .locations hr { margin-top: 0; margin-bottom:0; }
            .locations .row { padding: 5px 0;}
            .locations .row:hover { background: ghostwhite;}
            .modal-overlay
            {
                position:fixed;
                width:100%;
                height:100%;
                z-index:4;
                background: rgba(10,10,10, .9);
                top:0;
            }
            .modal-search
            {
                color:white;
                position: fixed;
                z-index: 6;
                width:100%;
                margin-top: 3%;
            }
            .c-menu
            {
                position:fixed;
                z-index:200;
                background:#fff;
                transition: transform 0.3s;
            }
            .c-menu-close
            {
                color: #fff;
                font-size:14px;
                border-radius: none;
                box-shadow:none;
                -webkit-appearance:none;
                -moz-appearance:none;
                appearance:none;
                cursor:pointer;
            }
            .c-menu-close:focus{
                outline:none;
            }
            //- Prevent awkward scrolling when menu is open
            body.has-active-menu{
                overflow:hidden;
            }

            .c-mask {
                position:fixed;
                z-index:100;
                top:0;
                left:0;
                overflow:hidden;
                width:0;
                height:0;
                background-color:#000;
                opacity:0;
                transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
            }

            .c-mask.is-active{
                width:100%;
                height:100%;
                opacity:0.7;
                transition: opacity 0.3s;
            }
            .slide-left{
                width:100%;
                height:100%;
                overflow-y:auto;
            }
            .c-menu--slide-left.is-active{
                transform:translateX(0);
            }
            @media all and (min-width: 320px){
                .slide-left {
                    width:300px;
                    transform: translateX(300px);
                }
                .o-wrapper.has-push-left{ transform: translateX(-300px); }
            }
            .slide-left {
                top: 0;
                left:0;
                transform: translateX(-100%);
            }
            .slide-left.is-active{
                transform:translateX(0);
            }

            .o-wrapper.has-push-left{ transform: translateX(-100%); }
            
            .logo-bar
            {
                float: left;
                line-height: 50px;
                padding-right: 20px;
                color: white;
                font-size: 1.2em;
            }
            .list-nav li i
            {
                padding: 0 15px;
                color: steelblue;
            }

            .list-nav li
            {
                font-size: 1.2em;
                padding: 10px 0;
            }
    body
        nav.navbar.navbar-default
            .container-fluid
                .navbar-header
                    button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1", aria-expanded="false")
                        span.sr-only Toggle Navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    i.fa.fa-bars.logo-bar.c-button
                    a.navbar-brand Memorial Health

                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav.navbar-right.main-menu
                        li.active
                            a(href="#") Find Doctor
                                span.sr-only (current)
                            
                            .sub-menu
                                h4.header Find Doctor
                                form
                                    .form-group
                                        .col-xs-12
                                            select.form-control
                                                option(value="", selected) Find a Doctor: who specializes in
                                    .form-group
                                        .col-xs-12
                                            input.form-control(placeholder="or by name")
                                    .form-group
                                        .col-xs-12
                                            input.form-control(placeholder="or by facility")
                                    hr
                                    .row
                                        .col-xs-4.col-xs-offset-8
                                            button.btn.btn-flat cancel
                                            button.btn.btn-flat find

                        li
                            a(href="#") Services
                            .sub-menu
                                h4.header Browse by Category
                                .row
                                    .col-xs-4
                                        a(href="#") Allergy and Immunology
                                    .col-xs-4
                                        a(href="#") Digestive
                                    .col-xs-4
                                        a(href="#") Mouth, Teeth, Face
                                .row
                                    .col-xs-4
                                        a(href="#") Blood (hematology)
                                    .col-xs-4
                                        a(href="#") Endocrine, Diabetes & Metabolism
                                    .col-xs-4
                                        a(href="#") Obestrics & Gynecology
                                .row
                                    .col-xs-4
                                        a(href="#") Brain, Spine & Nervous System
                                    .col-xs-4
                                        a(href="#") Heart
                                    .col-xs-4
                                        a(href="#") Pediatrics
                                .row
                                    .col-xs-4
                                        a(href="#") Cancer
                                    .col-xs-4
                                        a(href="#") Infectious Disease
                                    .col-xs-4
                                        a(href="#") Psychiatry
                                .row
                                    .col-xs-4
                                        a(href="#") Circulatory
                                    .col-xs-4
                                        a(href="#") Kidneys
                                    .col-xs-4
                                        a(href="#") Rheumatology
                                .row
                                    .col-xs-4
                                        a(href="#") Dematology
                                    .col-xs-4
                                        a(href="#") Lung
                                    .col-xs-4
                                        a(href="#") Urology
                        li
                            a(href="#") My Memorial
                            .sub-menu
                                .my-memorial
                                    p Some creative stuff about memorial
                                    .memorial-go
                                        button.btn-flat.text-white View
                                
                        li
                            a(href="#") Locations
                            .sub-menu.locations
                                .row
                                    .col-xs-3
                                        span.fa-stack
                                            i.fa.fa-circle.fa-stack-2x(style="color:steelblue;")
                                            i.fa.fa-stack-1x(style="font-size:.9em;") M
                                    .col-xs-9
                                        b Marietta Memorial
                                        p
                                            small.text-muted 555-555-5555
                                hr
                                .row
                                    .col-xs-3
                                        span.fa-stack
                                            i.fa.fa-circle.fa-stack-2x(style="color:tomato;")
                                            i.fa.fa-stack-1x(style="font-size:.9em;") S
                                    .col-xs-9
                                        b Selby General
                                        p
                                            small.text-muted 555-555-5555
                                hr
                                .row
                                    .col-xs-3
                                        span.fa-stack
                                            i.fa.fa-circle.fa-stack-2x(style="color:cadetblue;")
                                            i.fa.fa-stack-1x(style="font-size:.9em;") B
                                    .col-xs-9
                                        b Belpre
                                        p
                                            small.text-muted 555-555-5555
                                                

                        li
                            ul.list-inline
                                li
                                    i.fa.fa-clock-o.fa-2x.point(style="line-height:20px; padding:10px 0;")
                                li
                                    i.fa.fa-phone.fa-2x.point(style="line-height:20px; padding:10px 0;")
                                li#search
                                    i.fa.fa-search.fa-2x.point(style="line-height:20px; padding:10px 0;")


        
        
        
        

        #c-menu--slide-left.c-menu.c-menu--slide-left.slide-left
            div(style="position:relative;")
                img.responsive-img(src="http://www.riversiderad.com/images/headers/hospitals/marietta.jpg", style="width:100%")
                i#menu-close.fa.fa-close.c-menu-close(style="position:absolute; top: 5px; right: 5px; font-size:1.8em; text-shadow: 0px 2px #000;")

            ul.list-unstyled.list-nav
                li
                    i.fa.fa-user-md
                    span Find a Doctor
                li
                    i.fa.fa-medkit
                    span Services
                li
                    i.fa.fa-map-marker
                    span Locations
                li
                    i.fa.fa-clock-o
                    span ER Wait Times
                li
                    i.fa.fa-phone
                    span Contact
                li
                    i.fa.fa-building-o
                    span Company
                li
                    i.fa.fa-heart(style="color:crimson")
                    span Give

        
        .modal-search.hide
            .container.text-center
                h2.header Search Memorial
                    i#close.fa.fa-close.pull-right.point
                .row
                    form
                        .form-group
                            .input-group(style="height:55px;")
                                .input-group-addon
                                    i.fa.fa-search(style="steelblue")
                                input.form-control(placeholder="Search..", style="height: 55px; font-size:1.3em;")
                .row
                    .col-xs-4
                        p Top Searches
                            ul.list-unstyled
                                li
                                    span Search 1
                                li
                                    span Search 2
                                li
                                    span Search 3
                                li
                                    span Search 4
                    .col-xs-4
                        p Search For
                            ul.list-unstyled
                                li
                                    span Option 1
                                li
                                    span Option 2
                                li
                                    span Option 3
                                li
                                    span Option 4

        .modal-overlay.hide test
        #c-mask.c-mask
        block content
        
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
        script.
            $('#search,#close').on('click', function(){
                console.log('toggling');
                $('.modal-overlay').toggleClass('hide');
                $('.modal-search').toggleClass('hide');
            });
            (function(window) {

                'use strict';

                /**
                * Extend Object helper function.
                */
                function extend(a, b) {
                    for(var key in b) { 
                    if(b.hasOwnProperty(key)) {
                        a[key] = b[key];
                    }
                    }
                    return a;
                }

                /**
                * Each helper function.
                */
                function each(collection, callback) {
                    for (var i = 0; i < collection.length; i++) {
                    var item = collection[i];
                    callback(item);
                    }
                }

                /**
                * Menu Constructor.
                */
                function Menu(options) {
                    this.options = extend({}, this.options);
                    extend(this.options, options);
                    this._init();
                }

                /**
                * Menu Options.
                */
                Menu.prototype.options = {
                    wrapper: '#o-wrapper',          // The content wrapper
                    type: 'slide-left',             // The menu type
                    menuOpenerClass: '.c-button',   // The menu opener class names (i.e. the buttons)
                    maskId: '#c-mask'               // The ID of the mask
                };

                /**
                * Initialise Menu.
                */
                Menu.prototype._init = function() {
                    this.body = document.body;
                    this.wrapper = document.querySelector(this.options.wrapper);
                    this.mask = document.querySelector(this.options.maskId);
                    this.menu = document.querySelector('#c-menu--' + this.options.type);
                    this.closeBtn = document.querySelector('#menu-close');
                    this.menuOpeners = document.querySelectorAll(this.options.menuOpenerClass);
                    this._initEvents();
                };

                /**
                * Initialise Menu Events.
                */
                Menu.prototype._initEvents = function() {
                    // Event for clicks on the close button inside the menu.
                    this.closeBtn.addEventListener('click', function(e) {
                    e.preventDefault();
                    this.close();
                    }.bind(this));

                    // Event for clicks on the mask.
                    this.mask.addEventListener('click', function(e) {
                    e.preventDefault();
                    this.close();
                    }.bind(this));
                };

                /**
                * Open Menu.
                */
                Menu.prototype.open = function() {
                    this.body.classList.add('has-active-menu');
                    this.wrapper.classList.add('has-' + this.options.type);
                    this.menu.classList.add('is-active');
                    this.mask.classList.add('is-active');
                    this.disableMenuOpeners();
                };

                /**
                * Close Menu.
                */
                Menu.prototype.close = function() {
                    this.body.classList.remove('has-active-menu');
                    this.wrapper.classList.remove('has-' + this.options.type);
                    this.menu.classList.remove('is-active');
                    this.mask.classList.remove('is-active');
                    this.enableMenuOpeners();
                };

                /**
                * Disable Menu Openers.
                */
                Menu.prototype.disableMenuOpeners = function() {
                    each(this.menuOpeners, function(item) {
                    item.disabled = true;
                    });
                };

                /**
                * Enable Menu Openers.
                */
                Menu.prototype.enableMenuOpeners = function() {
                    each(this.menuOpeners, function(item) {
                    item.disabled = false;
                    });
                };

                /**
                * Add to global namespace.
                */
                window.Menu = Menu;

                })(window);

                var slideLeft = new Menu({
                    wrapper: '#o-wrapper',
                    type: 'slide-left',
                    menuOpenerClass: '.c-button',
                    maskId: '#c-mask'
                });

                var slideLeftBtn = document.querySelector('.c-button');

                slideLeftBtn.addEventListener('click', function(e) {
                    e.preventDefault;
                    slideLeft.open();
                });

        block scr