//- Use layout
extends layout.pug

block content
    div.container-fluid(style="padding:0;")
        .row(style="margin:0;")
            .col-sm-12(style="padding:0;")
                div(style="background-image:url('http://miriadna.com/desctopwalls/images/max/Wheat-field-at-the-sunset.jpg'); height:450px; width:100%; background-position:left; background-size:cover; background-repeat: no-repeat;")
                    div(style="padding-top:5%;")
                        h1.text-center.text-white.heading Access medical records
                        br
                        h3.text-center.text-white.heading Personal, reliable, secure
            
            .col-sm-12(style="padding:0;")
                div(style="background-color:#595959;")
                    .container
                        div.row.text-white(style="position:relative; padding:40px 0;")
                            .pull-right 7/21/2016

                            .col-md-3
                                h1.text-center News
                            .col-sm-12.col-md-9
                                h4  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, magnam!
                                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quia, adipisci explicabo ab fuga repellendus! Quisquam expedita, porro at possimus nihil tenetur, culpa itaque quidem saepe laudantium aut. Mollitia maiores ab omnis illo porro animi temporibus amet, dolore doloribus! Doloribus voluptate cumque accusantium excepturi odio ullam, eum eos voluptates unde.
                            
                            div#news.hide
                                .col-sm-12.col-md-9.col-md-offset-3
                                    br
                                    br

                                    .pull-right 7/21/2016
                                    h4  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, similique molestias perferendis accusantium nesciunt eveniet!
                                    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum sequi facere velit magni dolore sapiente doloribus praesentium deserunt, molestias quae, sit ratione deleniti atque vitae itaque officiis sed eos maiores saepe, perferendis, similique id ullam. Natus, veniam provident soluta ad recusandae sed exercitationem! Provident nobis quos veritatis illum animi, possimus eligendi quasi vero ipsum pariatur, aliquid quaerat ad, similique dolores.
                                
                                    br
                                    br

                                    .pull-right 7/21/2016
                                    h4  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, quis.
                                    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos placeat non quam nesciunt molestiae perferendis nemo earum provident tenetur laboriosam aspernatur in, necessitatibus reiciendis officia sint iste fugit facere illo iure, itaque asperiores est commodi, explicabo recusandae. Illo expedita, iusto quisquam, repellat obcaecati delectus minima.


                            div(style="position:absolute; bottom:-35px; right:0; z-index:1;")
                                span#expandNews.fa-stack.fa-lg.hover-orange(style="font-size:2.4em;")
                                    i.fa.fa-circle.fa-stack-2x.text-primary.hoverable
                                    i.fa.fa-plus.fa-stack-1x.fa-inverse

            .col-sm-12(style="height:400px;")

            .col-sm-12(style="padding:0;")
                div(style="background-color:#6ab416;")
                    .container
                         div.row.text-white(style="position:relative; padding:40px 0;")
                            .col-md-3
                                h1.text-center Calendar
                            .col-sm-12.col-md-9
                                .row(style="border:1px solid white;")
                                    .col-xs-2(style="font-size:1.4em; border-right:1px solid white;")
                                        p.text-center
                                            b NOV
                                        p.text-center
                                            b 2
                                    .col-xs-10(style="padding:5px 15px;")
                                        p(style="font-size:1.2em;") Weekend Childbirth Class
                                        p Practicing for the little people
                                br
                                br
                                .row(style="border:1px solid white;")
                                    .col-xs-2(style="font-size:1.4em; border-right:1px solid white;")
                                        p.text-center
                                            b NOV
                                        p.text-center
                                            b 2
                                    .col-xs-10(style="padding:5px 15px;")
                                        p(style="font-size:1.2em;") Weekend Childbirth Class
                                        p Practicing for the little people
                                br
                                br
                                .row
                                    .text-center(style="font-weight: bold; font-size: 1.1em;") EXPLORE


            .col-sm-12(style="padding:0; margin:30px 0;")
                .container
                    .row
                        .col-xs-12.col-sm-6(style="text-align:center;")
                            div(style="padding:10px;")
                                .box(style="box-shadow:1px 2px 10px #696969; display:inline-block;")
                                    div(style="position:relative;")
                                        img(src="https://static1.squarespace.com/static/533c8d62e4b05289c3d8bb74/t/53d9a945e4b0f93a47e50b2c/1406773574737/eazy_grow_lights_Plantsgrowinginstages_RGB_Web.jpg?format=1000w", style="height: 250px; width: auto;")
                                        h4.text-white(style="position:absolute; left:10px; bottom:0; font-size:2em;") Foundation
                                    
                                    span.clearfix
                                    div.row
                                        .col-xs-12
                                            p(style="width:300; padding:10px; margin:0 auto;") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos iste voluptate dolorem ipsum sunt, ipsa harum libero. Iure atque, est.
                                    
                        
                        .col-xs-12.col-sm-6
                            div(style="padding:10px;")
                                .box(style="box-shadow:1px 2px 10px #696969; display:inline-block;")
                                    div(style="position:relative;")
                                        img(src="https://everestcollege.files.wordpress.com/2012/06/bigstock-volunteer-group-hands-together-15610862.jpg", style="height: 250px; width: auto;")
                                        h4.text-white(style="position:absolute; left:10px; bottom:0; font-size:2em;") Volunteer
                                    
                                    span.clearfix
                                    div.row
                                        .col-xs-12
                                            p(style="width:300; padding:10px; margin:0 auto;") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos iste voluptate dolorem ipsum sunt, ipsa harum libero. Iure atque, est.


            div(style="height:6px; width:100%; float:left; background-color:steelblue;")
            .col-sm-12(style="padding:0;")
                div(style="background-color:#003a74 ;")
                    .container
                        .row.text-white
                            .col-xs-12.col-sm-4
                                h4 Patient Care
                                ul.list-unstyled
                                    li
                                        a(href="#") Link 1
                                    li
                                        a(href="#") Link 2
                                    li
                                        a(href="#") Link 3
                                    li
                                        a(href="#") Link 4
                            .col-xs-12.col-sm-4
                                h4 Company
                                ul.list-unstyled
                                    li
                                        a(href="#") Link 1
                                    li
                                        a(href="#") Link 2
                                    li
                                        a(href="#") Link 3
                                    li
                                        a(href="#") Link 4
                            .col-xs-12.col-sm-4
                                h4 How to Help
                                ul.list-unstyled
                                    li
                                        a(href="#") Link 1
                                    li
                                        a(href="#") Link 2
                                    li
                                        a(href="#") Link 3
                                    li
                                        a(href="#") Link 4

block scr
    script.
        $('#expandNews').on('click', function(){
            $('#news').toggleClass('hide');
        });